<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name></display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:webContext.xml</param-value>
	</context-param>

	<servlet>
		<servlet-name>job</servlet-name>
		<servlet-class>me.bcloud.web.servlet.DelegatingServletProxy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>job</servlet-name>
		<url-pattern>/j</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>data</servlet-name>
		<servlet-class>me.bcloud.web.servlet.DelegatingServletProxy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>data</servlet-name>
		<url-pattern>/d</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>me.bcloud.web.servlet.DelegatingServletProxy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/l</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>result</servlet-name>
		<servlet-class>me.bcloud.web.servlet.DelegatingServletProxy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>result</servlet-name>
		<url-pattern>/r</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>listServlet</servlet-name>
		<servlet-class>me.bcloud.web.servlet.DelegatingServletProxy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>listServlet</servlet-name>
		<url-pattern>/manager/list</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>deleteServlet</servlet-name>
		<servlet-class>me.bcloud.web.servlet.DelegatingServletProxy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteServlet</servlet-name>
		<url-pattern>/manager/delete</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>insertServlet</servlet-name>
		<servlet-class>me.bcloud.web.servlet.DelegatingServletProxy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>insertServlet</servlet-name>
		<url-pattern>/manager/insert</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>openServlet</servlet-name>
		<servlet-class>me.bcloud.web.servlet.DelegatingServletProxy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>openServlet</servlet-name>
		<url-pattern>/manager/open</url-pattern>
	</servlet-mapping>
	


	<servlet>
		<servlet-name>stateServlet</servlet-name>
		<servlet-class>me.bcloud.web.servlet.DelegatingServletProxy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>stateServlet</servlet-name>
		<url-pattern>/manager/state</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>editServlet</servlet-name>
		<servlet-class>me.bcloud.web.servlet.DelegatingServletProxy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>editServlet</servlet-name>
		<url-pattern>/manager/edit</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>f</filter-name>
		<filter-class>me.bcloud.web.filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>f</filter-name>
		<url-pattern>/manager/*</url-pattern>
	</filter-mapping>
	
	<listener>
		<display-name>springcontext</display-name>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
